---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import manSitting from '../assets/sitting_under_a_stary_night.jpg';

const links = [
      {
            name: 'Twitter',
            url: 'https://twitter.com/edwardspresume',
            icon: 'mdi:twitter',
      },
      {
            name: 'Instagram',
            url: 'https://www.instagram.com/edwardspresume',
            icon: 'mdi:instagram',
      },
      {
            name: 'Github',
            url: 'https://github.com/edwardspresume',
            icon: 'mdi:github',
      },
      {
            name: 'Youtube',
            url: 'https://www.youtube.com/@edwardspresume',
            icon: 'mdi:youtube',
      },
      {
            name: 'Linkedin',
            url: 'https://www.linkedin.com/in/edwardspresume',
            icon: 'mdi:linkedin',
      },
];
---

<html lang='en'>
      <head>
            <meta charset='utf-8' />
            <link rel='shortcut icon' type='image/icon' href='programmer.jpg' />
            <meta
                  name='viewport'
                  content='width=device-width, initial-scale=1.0'
            />

            <meta name='generator' content={Astro.generator} />
            <title>Edwards Presume | Architect</title>

            <meta name='author' content='Edwards Presume' />
            <meta
                  name='description'
                  content='Edwards Presume, Software Engineer'
            />
            <meta
                  name='keywords'
                  content='Edwards, Edwards Presume, Web developer, Front-end, front end, dev, front end web developer, front-end web developer about me, full-stack dev, full-stack developer, Software Engineer, portfolio,'
            />
      </head>
      <body class='text-white'>
            <div class='p-8 mx-auto max-w-xl'>
                  <header class='text-center grid gap-2'>
                        <Image
                              src={manSitting}
                              width='100'
                              height='100'
                              alt='Man sitting under a starry night sky'
                              class={'rounded-full mx-auto aspect-square object-cover border-slate-700 border'}
                        />

                        <h1 class='text-3xl font-bold'>Edwards Presume</h1>

                        <q class='text-gray-400 italic'>
                              If one advances confidently in the direction of
                              his dreams, and endeavors to live the life which
                              he has imagined, he will meet with a success
                              unexpected in common hours.
                        </q>
                  </header>

                  <ul class='space-y-5 mt-8'>
                        {
                              links.map((link) => (
                                    <li>
                                          <a
                                                href={link.url}
                                                target='_blank'
                                                rel='noopener noreferrer'
                                                class='gap-2 flex p-2 items-center rounded-md border justify-center sm:text-lg transition-colors hover:bg-white hover:text-black duration-300'>
                                                <Icon name={link.icon} />
                                                <span>{link.name}</span>
                                          </a>
                                    </li>
                              ))
                        }
                  </ul>
            </div>
      </body>
</html>

<style>
      body {
            block-size: 100vh;
            background-size: cover;
            background-position: center;
            background-image: url('../assets/view.jpg');
            background-blend-mode: darken;
            background-color: rgba(0, 0, 0, 0.8);
      }
</style>
